	<div ng-controller="NavCtrl">
		<!-- NAV OPEN -->
		<nav class="top-bar" data-topbar role="navigation">
		  <ul class="title-area">
		    <li class="name">
		      <div id="nav-brand">
		      	<h1>Up.ly</h1>
		      </div>
		    </li>
		     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
		    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
		  </ul>

		  <section class="top-bar-section">
		    <!-- Right Nav Section -->
		    <ul class="right">
<!-- 		      <li><a href="#">Right Button Active</a></li> -->
		      <li class="has-dropdown">
		        <a href="#"><i class="fi-list"></i></a>
		        <ul class="dropdown">
		          <li><a href="#">First link in dropdown</a></li>
		          <li class="active"><a href="#">Active link in dropdown</a></li>
		        </ul>
		      </li>
		    </ul>

		    <!-- Left Nav Section -->
		    <ul class="left">
		      <li id="my-profile"><a href="#">My Profile</a></li>
		    </ul>
		  </section>
		</nav>
		<!-- CLOSE NAV -->

	</div>

	<!-- ELEMENT BOXES OPEN -->
	
	<!-- JUMBOTRON OPEN -->
<div ng-controller="LogoCtrl">	
	<div id="jumbo">
		<form>
		  <fieldset>
		    <legend></legend>
				<div id="header-bloc">
					<%= image_tag "uplytxt.png" %>
				</div>
				<div id="balloons">
					<%= image_tag "upthumb.png" %>
				</div>
		    <label>Find the Internet's best based on what others think...
		      <input type="text" placeholder="Search" id="input-box">
		    </label>
		  </fieldset>
		</form>

	</div>
</div>
	<!-- CLOSE JUMBOTRON -->

	<div id="element-boxes">
		<!-- LEFT BOX OPEN -->
		<div id="left-box">
			<!-- NINJA DIV OPEN -->
				<div id="ninja">

				</div>
			<!-- NINJA DIV CLOSE -->
			<!-- CAROUSEL OPEN -->
			<div id="carousel2" class="row element">
				<div class="large-12 columns">
					<ul class="example-orbit-content" data-orbit>
						  <li data-orbit-slide="headline-1" class="slides" id="slide1">
						    <div>
	<!-- 					      <h2>Headline 1</h2>
						      <h3>Subheadline</h3> -->
						      <p class="slide-rank">Category: Sports | 1,283 ^'s</p>
						    </div>
						  </li>
						  <li data-orbit-slide="headline-2" class="slides" id="slide2">
						    <div>
	<!-- 					      <h2>Headline 2</h2>
						      <h3>Subheadline</h3> -->
						      <p class="slide-rank">Category: Computers | 785 ^'s</p>
						    </div>
						  </li>
						  <li data-orbit-slide="headline-3" class="slides" id="slide3">
						    <div>
	<!-- 					      <h2>Headline 3</h2>
						      <h3>Subheadline</h3> -->
						      <p class="slide-rank">Category: Shopping | 824 ^'s</p>
						    </div>
						  </li>
					</ul>
				</div>
			</div>
			<!-- CAROUSEL CLOSE -->

			<!-- RANKINGS SECTION OPEN -->

			<div id="rank-sect" ng-controller="RankingsCtrl" class="element">
			<h6 class="div-headers">Website Rankings</h6>
				<!-- SORT OPEN -->
				<div id="sort-container" class="row">
					<div class="large-3 columns">
					</div>
					<div id="sort-sect" class="large-9 columns">
						<dl class="sub-nav">
						  <dt>SORT BY:</dt>
						  <dd ng-class="{active:isSort(1)}"><a ng-click="setSort(1)">Trending</a></dd>

						  <dd ng-class="{active:isSort(2)}"><a ng-click="setSort(2)">Most Ups</a></dd>			  

						  <dd ng-class="{active:isSort(3)}"><a ng-click="setSort(3)">Most Downs</a></dd>
						</dl>
					</div>
				</div>
				<!-- SORT CLOSE -->

				<!-- RANK BOX OPEN -->
				<div class="row">
					<!-- CATEGORIES OPEN -->
					<!-- UI VIEW OPEN -->
					<div ui-view="categories">
					<!-- CATEGORIES CLOSE -->

					<!-- DISPLAY OPEN -->
				</div>
				<!-- VIEW CLOSE -->
				</div>
				<!-- RANK BOX CLOSE -->
			</div>
			<!-- RANKINGS SECTION CLOSE -->
    	<!-- LEFT BOX CLOSE -->
		</div>

		<!-- RIGHT BOX OPEN -->
		<div id="right-box">

			<!-- WEBSITE SPOTLIGHT OPEN -->
			<div class="row">
				<div id="website-spotlight" class="large-12 columns element">
					<h6 class="div-headers">Site Spotlight</h6>
					<p>RealGM</p>
				</div>
			</div>
			<!-- WEBSITE SPOTLIGHT CLOSE -->

			<!-- DISPLAY AD OPEN-->
			<div class="row">
				<div id="ad-unit" class="large-12 columns element">
				</div>
			</div>
			<!-- DISPLAY AD CLOSE -->		

			<!-- TOP COMMENT OPEN-->
			<div class="row">
				<div id="comment-sect" class="large-12 columns element">
					<h6 class="div-headers">Top Comment</h6>
						<div>This is the best site ever</div>
				</div>
			</div>
			<!-- TOP COMMENT CLOSE -->

			<!-- SOCIAL MEDIA OPEN-->
			<div class="row">
				<div id="social-sect" class="large-12 columns element">
					<h6 class="div-headers">Social Media</h6>
						<p>Twitter</p>
				</div>
			</div>
			<!-- SOCIAL MEDIA CLOSE -->


		</div>
		<!-- RIGHT BOX CLOSE -->
	</div>
	<!-- ELEMENT BOXES CLOSE -->
