<%= render partial: 'layouts/navbar' %>

	

	<!-- ELEMENT BOXES OPEN -->
	
	<!-- JUMBOTRON OPEN -->
<div ng-controller="LogoCtrl">	
		<div id="logo-thumb-connect">
				<div id="balloons">
					<%= image_tag "upthumb.png" %>
				</div>
				<div id="header-bloc">
					<%= image_tag "uplytxt.png" %>
				</div>
		</div>

<!-- OPEN PARALAX -->
<!--         <section id="slide-1" class="homeSlide">
            <div class="bcg">
                <div class="hsContainer">
                    <div class="hsContent">
                        <h2>Up.ly</h2>
                    </div>
                </div>
            </div>
        </section>
 -->

	<div id="jumbo">
		<form role="search" action="/search">
		  <fieldset>
		    <legend></legend>
		    <label>Find the Internet's best based on what others think...
		      <input type="text" name='keyword' placeholder="Search" id="input-box">
		      <div id="search-button"><!-- <input type="submit" src="upthumb.png"> --><!-- <i class="fi-magnifying-glass"></i> --><!-- </input> --></div>
		    </label>
		  </fieldset>
		</form>
		<div id="sign-up-btn">
			<%= link_to "Sign Up", new_user_registration_path,:class => "up-btn" %>
		</div>
	</div>
</div>
	<!-- CLOSE JUMBOTRON -->
			<!-- CAROUSEL CLOSE -->

			<!-- RANKINGS SECTION OPEN -->

				<!-- SORT CLOSE -->

				<!-- RANK BOX OPEN -->
					<!-- CATEGORIES OPEN -->
					<!-- UI VIEW OPEN -->
					<div ui-view="categories">
					<!-- CATEGORIES CLOSE -->

					<!-- DISPLAY OPEN -->
  				</div>
				<!-- VIEW CLOSE -->
				<!-- RANK BOX CLOSE -->
			<!-- RANKINGS SECTION CLOSE -->
    	<!-- LEFT BOX CLOSE -->

		<!-- RIGHT BOX OPEN -->
