<%= render partial: 'layouts/navbar' %>

	

	<!-- ELEMENT BOXES OPEN -->
	
	<!-- JUMBOTRON OPEN -->
<div ng-controller="LogoCtrl">	
		<div id="logo-thumb-connect">
				<div id="balloons">
					<%= image_tag "upthumb.png" %>
				</div>
				<div id="header-bloc">
					<%= image_tag "uplytxt.png" %>
				</div>
		</div>
	<div id="jumbo">
		<form>
		  <fieldset>
		    <legend></legend>
		    <label>Find the Internet's best based on what others think...
		      <input type="text" placeholder="Search" id="input-box">
		      <div id="search-button"><i class="fi-magnifying-glass large"></i></div>
		    </label>
		  </fieldset>
		</form>
		<div id="sign-up-btn">
			<%= link_to "Sign Up", new_user_registration_path,:class => "up-btn" %>
		</div>
	</div>
</div>
	<!-- CLOSE JUMBOTRON -->

			<!-- CAROUSEL CLOSE -->

			<!-- RANKINGS SECTION OPEN -->

				<!-- SORT CLOSE -->

				<!-- RANK BOX OPEN -->
					<!-- CATEGORIES OPEN -->
					<!-- UI VIEW OPEN -->
					<div ui-view="categories">
					<!-- CATEGORIES CLOSE -->

					<!-- DISPLAY OPEN -->
  				</div>
				<!-- VIEW CLOSE -->
				<!-- RANK BOX CLOSE -->
			<!-- RANKINGS SECTION CLOSE -->
    	<!-- LEFT BOX CLOSE -->

		<!-- RIGHT BOX OPEN -->
