	<!-- TOP OPEN -->
	<div class="top-users">
    <h5>YOUR UP'd SITES({{userShow.websites_ups_count}}):<h5>
			<div ng-repeat="w in userShow.upd">
        <h3 class="user-show-items"><a href="/websites/{{w.id}}">{{w.url_title}}</a></h3>
			</div>
  </div>
	<div class="top-users">
    <h5>WHAT HAVE YOU BEEN DISCUSSING:<h5>
      <div ng-repeat="c in userShow.comments">
        <h3 class="user-show-items"><a href="/websites/{{c.id}}"> - {{c.text}}</a></h3>
      </div>
  </div>
	<div class="top-users">
    <h5>COMMENTS YOU UP'd({{userShow.comments_ups_count}}):<h5>
      <div ng-repeat="c in userShow.upd_comments">
        <h3 class="user-show-items"><a href="/websites/{{c.website_id}}"> - {{c.text}}</a></h3>
      </div>
  </div>
	<!-- TOP CLOSE -->
