<%= render partial: 'layouts/navbar' %>

<!-- USER SHOW OPEN -->
<div class="user-cover">
	<div class="user-cover-top">
		<%#= video_tag('balloonsvid.mp4', id: 'videobcg', autoplay: "true", loop: "true")%>
		<div id="user-thumb">
			<%= image_tag "upthumb.png" %>
		</div>
		<h1 id="user-first"><%#= current_user.first %>brett</h1>
		<%= link_to "", edit_user_registration_path, :class => 'fi-widget' %>
	</div>
	<div class="user-cover-bottom">
    <div ui-view="user"></div>
		<div class="user-links" id="user-left-link">Up'd Websites</div>
		<div class="user-links" id="user-right-link">Comments</div>
	</div>
</div>

<div class="user-show-container">

	<!-- TOP OPEN -->
	<div class="top-users">

	</div>
	<!-- TOP CLOSE -->
</div>
<!-- USER SHOW CLOSED -->
