<%= render partial: 'layouts/navbar' %>

<!-- USER SHOW OPEN -->
<div class="user-cover">
	<div class="user-cover-top">
		<%#= video_tag('balloonsvid.mp4', id: 'videobcg', autoplay: "true", loop: "true")%>
		<div id="user-thumb">
			<%= image_tag "upthumb.png" %>
		</div>
		<h1 id="user-first"><%= current_user.first %><!-- brett --></h1>
		<%= link_to "", edit_user_registration_path, :class => 'fi-widget' %>
	</div>
	<div class="user-cover-bottom">
    <!-- <div ui-view="user"></div> -->
		<div class="user-links" id="user-left-link"><a ng-click="set = 1" ng-init="set = 1">Up'd Websites</a></div>
		<div class="user-links" id="user-right-link"><a ng-click="set = 2">Comments</a></div>
	</div>
</div>

<div class="user-show-container">
	
	<div ui-view="user"></div>

</div>
<!-- USER SHOW CLOSED -->
