	<!-- TOP OPEN -->
	<div class="top-users">
    <h5>THE HARD CORE FACTS:<h5>
			<div ng-repeat="u in companyShow.websites">
        <div ng-if="u.ups == 0">
          <h2>{{u.url_title}} has {{u.ups}} people who up'd the site and {{u.people_talking}} people talking about it. The hardcore truth: it only gets better from here.</h2>
        </div>
        <div ng-if="u.ups > 0 && u.ups < 10">
          <h2>{{u.url_title}} has {{u.ups}} people who up'd the site and {{u.people_talking}} people talking about it. Good Work! Getting some exposure.</h2>
        </div>
        <div ng-if="u.ups > 10">
          <h2>{{u.url_title}} has {{u.ups}} people who up'd the site and {{u.people_talking}} people talking about it. Now that's what I call metrics.</h2>
        </div>
			</div>
  </div>

