
 /* This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 //= require foundation_and_overrides
 */

 @import 'foundation-icons';

body {
	background-color: #FFFFFF;
}
/* MAINMAIN CONTAINER */
#mainmain {
	max-width: 1200px;
	min-width: 960px;
	overflow: hidden;	
	padding-top: 15px;
}

/* MAIN INDEX HOME */
#main-home {
	padding-right: 25px;
	padding-left: 25px;
}

/* NAV BAR STYLING */
.top-bar {
	top: -45px;
	position: fixed;
  transition: top 0.5s;
  width: 100%;
  z-index: 11;
  margin-left: -25px;
}
.top-bar.expand {
	top: 0;
}
#nav-brand {
	padding-left: 5px;
}
#my-profile {
	margin-left: 5px;
}
.fi-list {
	font-size: 2rem;
}
.top-bar-section li:not(.has-form) a:not(.button) {
	background-color: #33CC00;
}

#main-home {
	min-width: 960px;
  width: 100%;
  max-width: 1200px;
}
#header-block {
	height: 250px;
	width: 250px;
	margin-bottom: 30px;
	position: fixed;
	top: 5px;
	z-index: -10;
}
h1 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Orbitron', sans-serif;
	background-color: transparent;
}
h6 {
	color: white;
	text-align: left;
	margin-top: 0;
}
#uply {
	font-family: 'Orbitron', sans-serif;
}
.element {
	margin-bottom: 10px;
	border: 1px #646E70 solid;
	background: rgba(200,200,200,0.35);
	margin-top: 50px;
	padding: 0;
}

/* ELEMENT BOX STYLING */
#element-boxes {
	margin-top: 100px;
}

/* LEFT BOX STYLING */
#left-box {
	float: left;
	width: 73%;
	color: #646E70;
	padding: 0;
}
#carousel {
	color: #646E70;
}
.orbit-container {
	height: 250px;
}
.slides {
	height: 208px;
}
#slide1 {
	background-image: url('espn-header.png');
}
#slide2 {
	background-image: url('techcrunch.png');
}
#slide3 {
	background-image: url('gilt.png');
}
.slide-rank {
	position: absolute;
	bottom: 0;
	right: 0;
	margin-bottom: -35px;
}

#sort-container {
	height: 20px;
	padding-top: 10px;
}
#categories-sect {
	padding-top: 25px;
}
#rank-disp-sect {
	font-size: 30px;
	text-align: center;
}
.disp {
	padding-top: 18px;
}

/* RIGHT BOX STYLING*/
#right-box {
	float: right;
	width: 25%;
	padding: 0;
}
.div-headers {
	font-family: 'Carrois Gothic', sans-serif;
	background: rgba(200, 200, 200, 0.85);
}
#website-spotlight {
	height: 300px;
	border: 1px #646E70 solid;
	text-align: center;
	color: #646E70;
}
#ad-unit {
	height: 250px;
	border: 1px #646E70 solid;
	background-image: url('fileswap.gif');
}
#comment-sect {
	height: 250px;
	border: 1px #646E70 solid;
	text-align: center;
	color: #646E70;
}
#social-sect {
	height: 163px;
	border: 1px #646E70 solid;
	text-align: center;
	color: #646E70;
}
.menu-button {
	display: inline-block;
	padding: .5em;
	background-color: #fafafa;
	border: 1px solid #ccc;
}