<!-- FAV ICON GRID OPEN -->
<div id="icon-grid-container">

	<div id="icon-grid-inner">
		<div class="icon-grid-content" ng-repeat="w in websiteList | limitTo: 104" ng-mouseover="hoverIn(w)" ng-mouseleave="hoverOut(w)" ng-class="{'img-container-change':	hoverChange === true}">
			<div class="img-container">
				<img src={{w.favicon}} class="fav-icon-img">
			</div>
		</div>
		</div>
	</div>
</div>
<!-- FAV ICON GRID CLOSE -->

<div id="element-boxes">
	<!-- LEFT BOX OPEN -->
	<div id="left-box">
		
		<!-- RANKING CONTAINER OPEN -->
		<div id="rank-sect" class="element" infinite-scroll="increaseLimit()">
			<h6 class="div-headers">Website Rankings</h6>
					<!-- SORT OPEN -->
					<div id="sort-container" class="row">
						<div class="large-3 columns">
						</div>
						<div id="sort-sect" class="large-9 columns">
							<dl class="sub-nav">
							  <dt>SORT BY:</dt>
							  <dd ng-class="{active:isSort(1)}"><a ng-click="setSort(1)">Trending</a></dd>

							  <dd ng-class="{active:isSort(2)}"><a ng-click="setSort(2)">Most Ups</a></dd>			  
			         </dl>
						</div>
					</div>
					<!-- SORT CLOSE -->
			<!-- CATEGORIES OPEN -->
			<div class="row cat-row">
		  		<div id="categories-sect">
				  <div class="large-3 columns">
					  <dl class="sub-nav">
						<dt>CATEGORIES:</dt>
			          	<div ng-repeat="c in categoryList" ng-if="c.name != 'Adult'">
			          		<div class="row cat-list">
								<dd ng-class="{active:isSet(c.id)}" class="cat-list">
			              			<a ng-click="setClick(c.id)" >{{ c.name }}</a>
			            		</dd>
			          		</div>
			          	</div>
					  </dl>
				  </div>
				</div>
			  <div id="rank-disp-sect">
			    <div ng-repeat="c in categoryList" ng-init="predicate = 'websiteScore'">
			      <div ng-if="c.websites.length > 0">
			      	<div class="columns-container">
	  		      	<div class="animate-repeat" ng-repeat="website in c.websites | orderBy:predicate:reverse | limitTo:quantity">
		  		        <div class="large-8 columns disp" ng-show="isSet(c.id)">
			  		      	<div class="top-line-grid" ng-mouseover="gridHoverOn(website)" ng-mouseleave="gridHoverOff(website)" ng-class="{'top-line-change':	gridChange === true}">
			  		      	 	<a href="/websites/{{website.id}}">
			  		      	 		<div class="rank-row">
				                  <span class="web-url">
														<img class="fav-rank-disp" src={{website.favicon}}>
				                  	<span class="dotcom">{{website.url}}</span>
				                  </span>
				                 </div>  
					            </a>
											<div class="web-ups">
			  		            <span class="website_{{website.id}}_up here">{{ website.ups }}</span>
			  		            <a href="/websites/{{website.id}}/up" data-method="post" data-remote="true"><i class="fa fa-arrow-circle-o-up rank-arrow" ng-click="setIcon(website)" ng-class="{'fa fa-arrow-circle-up': website.clicked === true}"></i></a>
	  		          		</div>      	
		              	</div>
		            	</div>
		          	</div>
		          </div>
		        </div>
		  		</div>
	  		</div>
				<!-- RANK DISP CLOSE -->
			</div>
			<!-- CATEGORIES CLOSE -->
		</div>
		<!-- RANKING CONTAINER CLOSE -->
	</div>
	<!-- LEFT BOX CLOSE -->
	<!-- RIGHT BOX OPEN -->
	<div id="right-box">

					<!-- WEBSITE SPOTLIGHT OPEN -->
					<div class="row">
						<div id="website-spotlight" class="large-12 columns element">
							<h6 class="div-headers">What Others are Saying About...</h6>
		            <div class="spotlight-url">
		            {{ websiteHighestComScore.url_title }}  |  <span class="score-box">{{websiteHighestComScore.ups}}<a><i class="fa fa-arrow-circle-o-up"></i></a></span></div>
		            <hr class="hr1">

		            <div class="spot-comments-header">{{ websiteHighestComScore.comCount }} COMMENTS:</div>
		            	<div class="comments-container">
				            <div ng-repeat="c in websiteHighestComScore.comments">
				              <div>"{{ c.commentsText}}"<br>-<span class="user-name-com">{{c.commentsUser}}</span></div><br>
				          	</div>
				          </div>
						</div>
					</div>
					<!-- WEBSITE SPOTLIGHT CLOSE -->

					<!-- TOP COMMENT OPEN-->
					<div class="row">
						<div id="comment-sect" class="large-12 columns element">
							<div class="top-comment-top">
								<h6 class="div-headers">Top Comment</h6>
			            <span class="user-name-com">{{ bestComment.user }} commented on {{ bestComment.websiteTitle }}:</span><br>
							</div>
		            <hr class="hr1">
		            <div class="top-comments-container">
		            	"{{ bestComment.text }}"<br>{{ bestComment.ups }}<i class="fa fa-arrow-circle-o-up"></i>
		          	</div>
						</div>
					</div>
					<!-- TOP COMMENT CLOSE -->

					<!-- DISPLAY AD OPEN-->
					<div class="row">
						<div id="ad-unit" class="large-12 columns element">
							<%= image_tag "fileswap.gif", :class => "ad" %>
						</div>
					</div>
					<!-- DISPLAY AD CLOSE -->		

					<!-- SOCIAL MEDIA OPEN-->
<!-- 					<div class="row">
						<div id="social-sect" class="large-12 columns element">
							<h6 class="div-headers">Social Media</h6>
								<p>Twitter</p>
						</div>
					</div> -->
					<!-- SOCIAL MEDIA CLOSE -->

	<!-- RIGHT BOX CLOSE -->
	</div>
</div>
<!-- ELEMENT BOXES CLOSE -->
<footer>
      <p id="foot-p">
      ©2014 UP.LY, Inc. |  TERMS OF USE / PRIVACY POLICY
      </p>
      <div id="super-good">a super good company</div>
</footer>
