	<div id="element-boxes">
		<!-- LEFT BOX OPEN -->
		<div id="left-box">
			<!-- NINJA DIV OPEN -->
				<div id="ninja">

				</div>
			<!-- NINJA DIV CLOSE -->
			<!-- CAROUSEL OPEN -->
			<div id="carousel2" class="row element">
			</div>
<div id="rank-sect" class="element">
	<h6 class="div-headers">Website Rankings</h6>
		<!-- SORT OPEN -->
		<div id="sort-container" class="row">
			<div class="large-3 columns">
			</div>
			<div id="sort-sect" class="large-9 columns">
				<dl class="sub-nav">
				  <dt>SORT BY:</dt>
				  <dd ng-class="{active:isSort(1)}"><a ng-click="setSort(1)">Trending</a></dd>

				  <dd ng-class="{active:isSort(2)}"><a ng-click="setSort(2)">Most Ups</a></dd>			  
         </dl>
			</div>
		</div>
	<div class="row">
  		<div id="categories-sect">
		  <div class="large-3 columns">
			  <dl class="sub-nav">
				<dt>CATEGORIES:</dt>
	          	<div ng-repeat="c in categoryList">
	          		<div class="row cat-list">
						<dd ng-class="{active:isSet(c.id)}" class="cat-list">
	              			<a ng-click="setClick(c.id)" >{{ c.name }}</a>
	            		</dd>
	          		</div>
	          	</div>
			  </dl>
		  </div>
		</div>
		  <div id="rank-disp-sect">
		    <div ng-repeat="c in categoryList">
		      <div ng-if="c.websites.length > 0">
  		      <div ng-repeat="website in c.websites | orderBy:predicate:reverse">
  		        <div class="large-7 columns disp" ng-show="isSet(c.id)">
  		      	  <div class="rank-row">
                  <span><a href="/websites/{{website.id}}">{{website.title}}</a></span>
  		            <span class="website_{{website.id}}_up">{{ website.ups }}</span>
  		            <a href="/websites/{{website.id}}/up" data-method="post" data-remote="true"><i class="fi-arrow-up medium"></i></a>

                </div>
  		        </div>
  		      </div>
		      </div>
		    </div>    
		  </div>
	</div>
</div>
</div>
		<div id="right-box">

			<!-- WEBSITE SPOTLIGHT OPEN -->
			<div class="row">
				<div id="website-spotlight" class="large-12 columns element">
					<h6 class="div-headers">What Others are Saying About...</h6>
            <div class="spotlight-url">{{websiteHighestComScore.ups}}<i class="fi-arrow-up"></i> {{ websiteHighestComScore.title }} |
            {{ websiteHighestComScore.url }}</div>
            {{ websiteHighestComScore.comCount }} people talking about this site<br>
            <hr class="hr1">

            <div class="spot-comments-header">COMMENTS:</div>
            	<div class="comments-container">
		            <div ng-repeat="c in websiteHighestComScore.comments">
		              <div>"{{ c.commentsText}}"<br>-{{c.commentsUser}}</div><br>
		          	</div>
		          </div>
				</div>
			</div>
			<!-- WEBSITE SPOTLIGHT CLOSE -->

			<!-- TOP COMMENT OPEN-->
			<div class="row">
				<div id="comment-sect" class="large-12 columns element">
					<div class="top-comment-top">
						<h6 class="div-headers">Top Comment</h6>
	            Website: {{ bestComment.websiteTitle }}<br>
	            Commenter: {{ bestComment.user }}<br>
	            {{ bestComment.ups }}ups
					</div>
            <hr class="hr1">
            <div class="top-comments-container">
            	{{ bestComment.text }}
          	</div>
				</div>
			</div>
			<!-- TOP COMMENT CLOSE -->

			<!-- DISPLAY AD OPEN-->
			<div class="row">
				<div id="ad-unit" class="large-12 columns element">
					<%= image_tag "fileswap.gif" %>
				</div>
			</div>
			<!-- DISPLAY AD CLOSE -->		

			<!-- SOCIAL MEDIA OPEN-->
			<div class="row">
				<div id="social-sect" class="large-12 columns element">
					<h6 class="div-headers">Social Media</h6>
						<p>Twitter</p>
				</div>
			</div>
			<!-- SOCIAL MEDIA CLOSE -->


		</div>
		<!-- RIGHT BOX CLOSE -->
	</div>
	<!-- ELEMENT BOXES CLOSE -->
<footer>
      <p id="foot-p">
      ©2014 UP.LY, Inc. |  TERMS OF USE / PRIVACY POLICY
      </p>
</footer>
