<div ng-controller="NavCtrl">
		<!-- NAV OPEN -->
		<nav class="top-bar" data-topbar role="navigation">
		  <ul class="title-area">
		    <li class="name">
		      <div id="nav-brand">
		      	<h1>up.ly</h1>
		      </div>
		    </li>
		     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
		    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
		  </ul>

		  <section class="top-bar-section">
		    <!-- Right Nav Section -->
		    <ul class="right">
<!-- 		      <li><a href="#">Right Button Active</a></li> -->
		      <li class="has-dropdown">
		        <a href="#"><i class="fi-list"></i></a>
		        <ul class="dropdown">
		          <li><%= link_to "Sign In", new_user_session_path %></li>
		          <li><a href="#">Website Index</a></li>
		          <li><a href="#">Sign Out</a></li>
		        </ul>
		      </li>
		    </ul>

		    <!-- Left Nav Section -->
		    <ul class="left">
		      <li id="my-profile"><a href="#">My Profile</a></li>
		    </ul>
		  </section>
		</nav>
		<!-- CLOSE NAV -->

	</div>